@model IEnumerable<Model.App_Data.ViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.ActionLink("Total Records", "Count")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.employee.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee.MobileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee.Designation_ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.employee.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee.MiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee.MobileNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee.Salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.designation.DesignationName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.employee.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.employee.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.employee.ID })
        </td>
    </tr>
}

</table>
